*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    gap: 0;
}

body{
    background-color: #fff;
    font-family: "Eastman Roman Trial";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}